# Handle line endings automatically for files detected as text
# and enforce LF (Unix) line endings in the repository.
* text=auto eol=lf

# The following are files that should be treated as binary and not have their line endings changed.
# Add any other binary file types your project uses.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary